Redirecting to https not posting

Hi

Thanks for library. I am trying to use in my project but i have a problem. I am trying to post data to server but if server redirects http url to https url with 301, library is not posting any data. If i try to post direct https url then there is no problem. 

Is there a way to resolve this problem?

Can you provide the request so that I can try and debug?

Of course, i created an url for you.

Try to post a data which name is "data" and of course it should not be empty to this url: `http://ribony.com/mobileapp/post_test` This url will redirect to https and response will be "empty".

 For not https test try to post same config to `http://application.ribony.com/mobileapp/post_test` this won't redirect to https and response will be "not empty"

Client code: http://prntscr.com/jp5hrt

Server code: http://prntscr.com/jp5hwq

You cannot redirect a POST request. Either you send a POST request over HTTP or over HTTPS. This is consistent with [RFC 7231, Section 4.3.3](https://tools.ietf.org/html/rfc7231#section-4.3.3).